.inputGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.inputGroup label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    font-size: 16px;
    font-family: "Open Sans", serif;
}

.inputGroup input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Open Sans", serif;
}

.inputGroup button {
    margin-top: 10px;
    padding: 10px;
    background-color: #093560;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Open Sans", serif;
    font-weight: bold;
}

.inputGroup button:hover {
    background-color: #164188;
}

/* Search Form */
.searchForm {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* User Card */
.userCard {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-family: "Open Sans", serif;
}

.userCard h3 {
    margin-bottom: 10px;
    color: #333;
    font-family: "Open Sans", serif;
}

.userCard p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
    font-family: "Open Sans", serif;
}

.userCard button {
    margin-top: 10px;
    padding: 8px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", serif;
}

.userCard button:hover {
    background-color: #218838;
}

/* Reset Password Form */
.resetPasswordForm {
    margin-top: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    font-family: "Open Sans", serif;
}

.resetPasswordFields label {
    font-weight: bold;
    color: #555;
    font-family: "Open Sans", serif;
}

.resetPasswordFields input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", serif;
}

.passwordSuggestion {
    margin-top: 5px;
    padding: 8px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    text-align: center;
    width: fit-content;
    font-family: "Open Sans", serif;
}

.passwordSuggestion:hover {
    background: #ddd;
}

.resetPasswordFields button {
    width: 100%;
    padding: 10px;
    background-color: #093560;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Open Sans", serif;
    font-weight: bold;
}

.resetPasswordFields button:hover {
    background-color: #0056b3;
}