.sessionTableSection {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    justify-self: center;
}

.sessionTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f9fa;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.sessionTable thead {
    background-color: #093560;
    color: white;
}

.sessionTable th,
.sessionTable td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.sessionTable tbody tr:hover {
    background-color: #e9ecef;
}

.sessionTable th {
    font-weight: bold;
}

.sessionTable tbody tr:last-child td {
    border-bottom: none;
}

.sessionTable td {
    color: #333;
}

.sessionTable td button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s ease-in-out;
}

.sessionTable td button:hover {
    background-color: #c82333;
}

.sessionTable td button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}