* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

textarea {
  font-family: inherit;
  font-size: 12px;
  padding: 5px;
  box-sizing: border-box;
}

:global(.__intelli_main-button) {
  margin-right: 25px !important;
  padding: 1px 6px;
}

.dashBoardWrapper {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
  padding-top: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.wrapper {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.leftWrapper {
  display: flex;
  width: 30%;
  flex-direction: column;
  gap: 20px;
}

.rightWrapper {
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: 20px;
}

.loadingScreen{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
}

.spinner {
  border: 4px solid #eee;
  border-top: 4px solid var(--primary-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

.loadingText {
  font-size: 18px;
  font-family: "League Spartan", serif;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


@media (max-width: 900px) {
  .wrapper {
    display: flex;
    /* Ensure it's a flex container */
    flex-direction: column;
  }

  .leftWrapper,
  .rightWrapper {
    width: 100%;
  }

  .spinner{
    width: 50px;
    height: 50px;
  }
}